/*
    Search function.
 */

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-top: 8px;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 20em;
    border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}

/*
    Side menu
 */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/*
    Carousel options:

 */

.carousel{
    margin: auto;
    min-height: 70%;
}

.carousel-inner > .item {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 0 0 0%;
}

.carousel-inner > .item > img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}


.carousel-caption {
    position: absolute;
    width:100%;
    margin-left: -20%; /* make caption take up full width */
    max-height: 40%;
    background: rgba(0, 0, 0, 0.75);
}

.carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.itemFill {
    height: 100%;
}

.carousel-login{
    position: absolute;
    top: 40%;
    padding-top: 1em;
    padding-bottom: 2em;
    left: 8%;
    width: 85%;
    /*z-index: 99999;*/
    background: rgba(0, 0, 0, 0.7500);
    color: white;
    align-content: center;
}

.carousel-login input{
    background: black;
}